@model Proyecto


<!-- Esto tiene una validacion de CRSF automatica -->
<form asp-controller="Proyecto" asp-action="@(Model.ProyectoID == 0 ? "Crear" : "Editar")" method="post" enctype="multipart/form-data">
    <!--
        asp-for: Permite vincular los campos del modelos con los campos del formulario

        asp-validation-for permite mostrar el mensaje de error vinculado al campo:
        NOTA: Para que funcionen correctamente deben incluirse los script de validacion en Frot,
        en este momento se encuetran agregados en _Layout
    -->
    <input type="hidden" asp-for="ProyectoID"/>
    <div class="mb-3">
        <label asp-for="Titulo" class="form-label"></label>
        <input type="text" asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaID"></label>
        <select asp-for="CategoriaID" asp-items="@(ViewBag.Categorias)" class="form-control">
            <option value="">Seleccione una categoria</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <textarea id="Descripcion" name="Descripcion" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label for="imagenes" class="form-label">Subir Imágenes</label>
        <input type="file" id="imagenes" name="imagenes" class="form-control" multiple />
    </div>

    <div class="mb-3">
        <label>Seleccionar Tecnologias:</label>
        <div class="checkbox-group mt-3">
            @foreach (var tecnologia in ViewBag.Tecnologias)
            {
                <div class="form-check col-2">
                    <input class="custom-checkbox" type="checkbox" name="TecnologiasSeleccionadas" value="@tecnologia.TecnologiaID" id="@tecnologia.TecnologiaID" />
                    <label class="custom-label" for="@tecnologia.TecnologiaID">@tecnologia.Nombre</label>
                </div>
            }
        </div>
    </div>

    <div id="guardar" class="m-2 ms-auto">
        <button onclick="confirmar()" type="button" class="btn btn-primary">
            @(Model.ProyectoID == 0 ? "Crear" : "Guardar Cambios")
        </button>
        <a asp-action="Index" asp-controller="Proyecto" class="btn btn-secondary">Cancelar</a>
    </div>
    
    <div id="confirmar" class="mb-3 confirmar alert-danger text-center">
        <p>¿Esta seguro que desea realizar esta accion?</p>
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <a asp-action="Index" asp-controller="Categoria" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

<script>
    tinymce.init({
        selector: '#Descripcion',
        plugins: 'lists link table code',
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image',
        height: 500
    });
</script>